@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  @apply flex flex-col h-screen;
}

body  {
  text-rendering: optimizeLegibility;
}

.toast-progress-success {
  background-color: #f61681 !important;
}

.toast-progress-error {
  background-color: #32a852 !important;
}
